.paymentPage {
  width: 100%;
  height: 92.9vh;
  box-sizing: border-box;
  background-image: url("../images/BackGround.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 3rem 2.5rem 0 9rem;
  position: relative;
  overflow: hidden;
}

.leftDiv {
  width: 50%;
}

.aboutH1 {
  margin: 0;
  width: 100%;
  color: #ffffff;
  font-size: 2.3rem;
  line-height: 1.3;
  letter-spacing: 1px;
  word-break: keep-all;
  word-spacing: 2px;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 2rem;
}

.inner {
  color: #ffffff;
}

.outer {
  color: #ff0000;
  text-decoration: line-through;
  margin: 0 0.9rem;
  font-size: 3rem;
}

.downPrice {
  color: #0096ff;
  font-size: 3rem;
}

.featureContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.featureContainer img {
  width: 7%;
  margin-right: 4rem;
}

.featureContainer p {
  margin: 0;
  font-size: 1.2rem;
  color: #ffffff;
  line-height: 1;
  letter-spacing: 1px;
}

.featureContainer span {
  color: #0096ff;
  font-weight: 500;
  font-size: 1.5rem;
}

.rightDiv {
  width: 25%;
  height: 92%;
  position: absolute;
  top: 2.5rem;
  right: 5.8rem;
}
